@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* Reset de propriedades */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(224, 224, 224);
    font-family: 'Quicksand', sans-serif;
    color: rgb(80, 80, 80);
}

/* Cabeçalho */

header {
    background-color: rgb(128, 128, 128);
    color: white;
}

header .header-flex{
    display: flex;
    justify-content: space-between;
}

.container-grid {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header h1 {
    color: white;
    font-weight: 200;
    border: 2px solid white;
}

header h1 #logoux {
    font-weight: 600;
    font-style: italic;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    border: 2px solid white;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 40px !important;
}

main section {
    width: 75%;
    height: 100%;
    background-color: white;
}

main section img {
    width: 100%;
}

section h2, p {
    margin: 20px;
    font-size: 20px;
    font-weight: 300;
}

aside {
    margin-left: 40px;
    width: 25%;
}

aside article {
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}