body{
    background-color: rgb(224, 224, 224);
    font-family: sans-serif;
    color:rgb(80, 80, 80);
}
header{
    background-color: rgb(128, 128, 128);
    color: white;
}
a{
    color:red;
    text-decoration: none;
}