@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* Reset de propriedades */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column; */
    background-color: #efefef;
    font-family: 'Quicksand', sans-serif;
    color: rgb(80, 80, 80);
}

/* Cabeçalho */

header {
    background-color: rgb(128, 128, 128);
    color: white;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.container-grid {
    
    /* width: 70%;
    max-height: 80%;
    display: flex;
    justify-content: space-between; */
    margin: 0 auto;
    max-width: 1000px;
    
}

header h1 {
    color: white;
    font-weight: 200;

}

header h1 #logoux {
    font-size: 36px;
    font-weight: 600;
    font-style: italic;
}

header nav {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

header nav a {
    color: white;
    text-decoration: none;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    font-size: 16px;
}

/* Main container */

main {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 60px !important;
}

main section {
    width: 75%;
    height: 100%;
    background-color: white;
}

main section img {
    width: 100%;
}

section h2,
p {
    margin: 20px;
    font-weight: 300;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;

}

aside article {
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

aside article h3 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: gray solid 1px;
    width: 100%;
    text-align: center;
}

aside article ul {
    margin: 0px 30px 0 30px;
    font-size: 12px;
    list-style-type: disc;
    font-weight: 200;
}

li{
    display: list-item;
    font-size: 12px
}

aside article p {
    text-align: center;
}

aside article form{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

aside article form button{
    background-color: black;
    width: 15%;
    height: 30px;
}

aside article form input {
    border: gray 1px solid;
    width: 75%;
    height: 30px;
}

#lastarticle{
    margin-bottom: 0 !important;
}

/* FOOTER */

footer {
    background-color: rgb(128, 128, 128);
    position: absolute;
    bottom:0;
    left: 0; 
    width: 100%;
    color: white;
} */

 footer p {
    font-weight: 400;
    font-size: 14;
}